<h3>Interpolation</h3>
<p>Nome: {{ nome }}</p>
<p [hidden]="ocultarUrl">Url: {{ getUrl() }}</p>
<button class="btn btn-primary" type="button" [disabled]="desativarBotao()" (click)="onclick()">
  <span class="glyphicon glyphicon-search"></span>
  Submit
</button>

<br/>
<div>
  <input type="text" ngModel #entrada1> {{ entrada1.value }}
</div>

<br/>
<div>
  <input type="text" ngModel #entrada2="ngModel" required>
  <p>Valor: {{ entrada2.value }}</p>
  <p>Visitado? {{ entrada2.touched }}</p>
  <p>Modificado? {{ entrada2.dirty }}</p>
  <p>Valido? {{ entrada2.valid }}</p>
</div>

<br/>
<div>
  <select ngModel #selecao>
    <option value="1">Opção 1</option>
    <option value="2">Opção 2</option>
  </select>
  {{ selecao.value }}
</div>

<br/>
<br/>
<div>
  <label>Selecione uma opção:</label>
  <select #selecao2 ngModel>
    <option value="">Selecione uma opção</option>
    <option value="success">Sucesso</option>
    <option value="info">Info</option>
    <option value="danger">Danger</option>
  </select>

  <div class="alert" role="alert" [hidden]="selecao2.value !== 'success'" [class.alert-success]="selecao2.value === 'success'">
    Mensagem de sucesso
  </div>

  <div class="alert" role="alert" [hidden]="selecao2.value !== 'info'" [class.alert-info]="selecao2.value === 'info'">
    Mensagem informativa
  </div>

  <div [style.display]="selecao2.value === 'danger' ? 'block' : 'none'" class="alert alert-danger" role="alert">
    Esse texto só aparece em caso de erro!
  </div>

  <p [style.border]="selecao2.value === 'info' ? '1px solid red' : ''">
    Caixa de texto com borda vermelha
  </p>

  <div [style.background-color]="selecao2.value === 'info' ? 'yellow' : ''">
    Caixa de texto com fundo amarelo
  </div>
</div>

<br/>
<div>
  <input type="text" ngModel #fone />
  <p>Telefone: {{ fone.value }}</p>
  <button (click)="onClickFone(fone.value)">Chamar</button>
  <p>{{ mensagem }}</p>
</div>